.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: auto;
	color: #4f4f4f;
}

.navbar {
	flex-basis: 10%;
}

.nav {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0 100px;
	background-color: rgb(255 255 255 / 30%);
	backdrop-filter: blur(10px);
}

.Icon {
	color: #4f4f4f;
}

.nav p {
	font-size: 2rem;
	padding-bottom: 1%;
}

.content {
	grid-column-start: 1;
	grid-column-end: 3;
}

.textBox {
	padding-left: 5px;
}

@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.navbar {
		width: 100%;
	}

	.nav {
		justify-content: center;
		padding: 15px 0;
	}

	.nav p {
		font-size: xx-large;
		padding-bottom: 5px;
	}
}
